@import 'mdb.css';
@import 'fa-5.5.0/css/all.min.css';


/* ESTILOS PROPIOS */
body {
	background-color: #F8F8F8;
	font-size: 12px
}

/*textarea.md-textarea { height: 40px !important }*/

.centrado-vertical {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

}

.validate { margin-bottom: .7rem !important  }

.opacity { opacity: .9 }

.wow { visibility: hidden; }

.carousel-inner { height: 410px }

a.text-dark:hover { color: #0099CC !important }

.pq { font-size: 12px !important }



/*#mdb-scrollspy-ex .nav-item {
	width: 100%;
}

#mdb-scrollspy-ex a {
	font-size: .8rem;
	font-weight: 400;
	line-height: 1.1rem;
	padding: 0 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	color: black;
}

#mdb-scrollspy-ex li .active {
	font-weight: 600;
}

.scrollspy-example {
	height: 500px;
}*/


/*.mdb-scrollspy-ex-example {
	height: 200px;
}*/

