@import 'mdb.css';
@import 'fa-5.5.0/css/all.min.css';


/* ESTILOS PROPIOS */
body {
	background: linear-gradient(#C7F9FF, #DCEFFF);;
	font-size: 12px
}


.card-columns {
	column-count: 4
}

.f-2 { font-size: 14px !important }

/*textarea.md-textarea { height: 40px !important }*/

.centrado-vertical {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

}

.img-dimentions
{
    height:  13rem !important;
    width:  30rem !important;
}

.validate { margin-bottom: .7rem !important  }

.opacity { opacity: .9 }

.wow { visibility: hidden; }

.carousel-inner { height: 410px }

a.text-dark:hover { color: #0099CC !important }

.pq { font-size: 12px !important }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
	background-repeat: no-repeat;
	background-position: center right;
}
table.dataTable thead .sorting {
	background-image: url("/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
	background-image: url("/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
	background-image: url("/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url("/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url("/images/sort_desc_disabled.png");
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 0.25em;
}

.video-fluid {
	width: 100%;
	height: auto;
}

/*#mdb-scrollspy-ex .nav-item {
	width: 100%;
}

#mdb-scrollspy-ex a {
	font-size: .8rem;
	font-weight: 400;
	line-height: 1.1rem;
	padding: 0 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	color: black;
}

#mdb-scrollspy-ex li .active {
	font-weight: 600;
}

.scrollspy-example {
	height: 500px;
}*/


/*.mdb-scrollspy-ex-example {
	height: 200px;
}*/

